[Unit]
Description=Hayaku-Ike Linux Speed Booster Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hayaku-ike
Restart=always
User=root

[Install]
WantedBy=multi-user.target
